/*Create a basic HTML calculator with buttons for each digit and operator (including =).
Don’t worry about making them functional just yet.
There should also be a display for the calculator. Go ahead and fill it with some dummy numbers so it looks correct.
Add a “clear” button.*/

#calc{
    display: flex;
  
    height: auto;
    
}
.btn{
    display: flex;
    

}

#container{
    position: relative;
    display: flex;
    

} 
.buttons{
    position: absolute;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}
/*📝 Pași simpli pentru suprapunere:
Pune imaginea și butoanele într-un container comun.
Setează position: relative pe container – definește punctul de referință.
Setează position: absolute pe butoane – le poziționezi față de container.
Folosește top, left, right, bottom în procente pentru poziționare flexibilă.*   /

//continui maine ca nu mai duc si caut pe net site-ul ala pt flex  